GISApplication/ApplicationInsights.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ApplicationInsights">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TelemetryModules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Add">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element name="Handlers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Add" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TelemetryProcessors">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Add">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="MaxTelemetryItemsPerSecond" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="Type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TelemetryChannel">
          <xs:complexType>
            <xs:attribute name="Type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="TelemetryInitializers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Add">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="Filters">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Add">
                            <xs:complexType>
                              <xs:attribute name="Pattern" type="xs:string" use="required" />
                              <xs:attribute name="SourceName" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>